/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


#new{
    display: flex;
    flex-direction: column;
    padding: 20px 80px 0 80px;
    gap: 5px;
}
/* Heading */
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #444;
}

/* Buttons */
button {
    background: #007bff;
    color: #fff;
    width: auto;
    margin: auto;
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#input-el{
    border-radius: 4px;
    border: .5px solid #333;
    padding: 5px;
}

.childClass{
    border: 1px solid black;
    padding: 5px 5px 30px 5px;;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}